* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  .App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .calculator {
      height: 24em;
      width: 21em;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .result {
        width: 9.7em;
        height: 2em;
        border-radius: 7px;
        margin: 0.4em 0.4em 0.8em 0.4em;
        font-size: 30px;
        box-sizing: border-box;
        border: 3px solid #ccc;
        outline: none;
        &:focus {
          border: 1px solid #6d7477;
          color: black;
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        .groupOne, .groupTwo, .groupThree {
          width: 19em;
          display: flex;
          flex-direction: row;
          height: 3em;
          .button {
            width: 25%;
            margin: 0.3em;
            background: #9E9E9E;
            border: 1px #424242;
            border-radius: 5px;
            color: #212121;
            font-weight: 800;
            font-size: 1em;
            &:hover {
              background: #E0E0E0;
            }
          }
          .operation {
            background: #00E676;
            border: 1px #424242;
            border-radius: 5px;
            &:hover {
              background: #69F0AE;
            }
          }
          .ac {
            background: #FFB300;
            border: 1px #424242;
            border-radius: 5px;
            &:hover {
              background: #FFCA28;
            }
          }
        }

        .groupFour {
          display: flex;
          height: 6em;
          width: 19em;
          .groupFive {
            width: 75%;
            .groupFiveA, .groupFiveB {
              display: flex;
              justify-content: space-between;
              height: 3em;

              .button {
                width: 33.3%;
                margin: 0.3em;
                background: #9E9E9E;
                border: 1px #424242;
                border-radius: 5px;
                color: #212121;
                font-weight: 800;
                font-size: 1em;
                &:hover {
                  background: #E0E0E0;
                }
              }
            }
            .groupFiveB {
              button {
                width: 33.3%;
                margin: 0.3em;
                background: #9E9E9E;
                border: 1px #424242;
                border-radius: 5px;
                &:hover {
                  background: #E0E0E0;
                  color:#FF9100;
                }
                .icon {
                  width: 33.3%;
                  margin: 0.3em;
                  background: #9E9E9E;
                  border: 1px #424242;
                  border-radius: 5px;
                  color: #FFD740;
                  font-size: 2em;
                  &:hover {
                    background: #E0E0E0;
                    color:#FF9100;
                  }
                }
              }
            }
          }
          .equal {
            width: 22%;
            margin: 0.3em;
            background: #FFB300;
            border: 1px #424242;
            /*box-shadow: 0.4px 0.6px 1px 1.2px #212121;*/
            border-radius: 6px;
            color: #212121;
            font-weight: 800;
            font-size: 1em;
            &:hover {
              background: #FFCA28;
            }
          }
        }
      }
    }

  }
}
